html, body {
    width:100%;
    height:100%;
    box-sizing:border-box;
    padding:0;
    margin:0;
    font-size:16px;
}

header {
    padding:1rem;
}
img {
    width:100%;
    max-width:100%;
    max-height:100%;
    object-fit:cover;
}

h1 {
    color:green;
    text-align:center;
}
nav {
    display: flex;
    justify-content: center;
}
nav a {
    display: block;
    padding: 1rem;
    text-decoration:none;
}
h2 {
    padding:1rem;
}
p {
    padding:1rem;
    margin:0;
}
/* FLEX */
.ligne {
    display:flex;
    flex-wrap:wrap;
    width:100%;
}

.ligne.x3col > * {
    display:block;
    width: calc(100% / 1);
}

.ligne.x3col img {
    max-height:60vmin;
}

article h3 {
    margin:0;
    padding:1rem;
}

article img {
    height:40vmin;
}
/* 
MEDIA QUERIES

https://getbootstrap.com/docs/4.3/layout/overview/ 

*/
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

    .ligne.x3col > * {
        width: calc(100% / 2);
    }
    .ligne.x3col > *:last-child {
        width: calc(100% / 1);
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

    .ligne.x3col > * {
        width: calc(100% / 3);
    }
    /* annuler la règle sur la media query précédent */ 
    .ligne.x3col > *:last-child {
        width: calc(100% / 3);
    }

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}

/* 

CSS variables 
https://developer.mozilla.org/fr/docs/Web/CSS/Using_CSS_custom_properties

*/

:root {
  --primary-0: #99C739;
  --primary-1: #D2F38D;
  --primary-2: #B7E15E;
  --primary-3: #7BA81D;
  --primary-4: #5C8507;

  --secondary-0: #2C6787;
  --secondary-1: #709FB9;
  --secondary-2: #457B99;
  --secondary-3: #185372;
  --secondary-4: #093E5A;

  --complementary-0: #A93177;
  --complementary-1: #D77DB2;
  --complementary-2: #BF5091;
  --complementary-3: #8F185E;
  --complementary-4: #710645;

}


header {
    display:flex;
    justify-content: center;
    flex-direction: column;
    background: url('../img/photo4.jpg') fixed center center;
    background-color: var(--primary-0);
    background-size:cover;
}
header h1 {
    margin:0;
    text-shadow: 1px 2px 4px rgba(200, 200, 200, .8);

}
header img {
    order:-1;
    width:80px;
    height:80px;
    object-fit: cover;
    opacity:0.8;
    display:block;
    margin:0 auto;
    text-align:center;
}
header nav a {
    color: var(--primary-1);
    background-color: var(--complementary-1);
    opacity:0.9;
    margin:1rem;
    box-shadow: 0.25rem 0.25rem 3px 1px rgba(0, 0, 0, .6);
    border-radius: 1rem;
    transition: all 1s;
}

header nav a:hover {
    border-radius: 2rem;
    color: white;
}

main h2 {
    color: var(--secondary-0);
}

h3 {
    color: var(--secondary-1);
}

footer nav a {
    color: var(--complementary-0);
}

/* CSS - Cascading Style Sheet */
/* Palette color codes */
/* Palette URL: http://paletton.com/#uid=72l190kmMqDdnCNiCueqzmAurhS */

/* Feel free to copy&paste color codes to your application */


/* As hex codes */

.color-primary-0 { color: #99C739 }	/* Main Primary color */
.color-primary-1 { color: #D2F38D }
.color-primary-2 { color: #B7E15E }
.color-primary-3 { color: #7BA81D }
.color-primary-4 { color: #5C8507 }

.color-secondary-1-0 { color: #2C6787 }	/* Main Secondary color (1) */
.color-secondary-1-1 { color: #709FB9 }
.color-secondary-1-2 { color: #457B99 }
.color-secondary-1-3 { color: #185372 }
.color-secondary-1-4 { color: #093E5A }

.color-secondary-2-0 { color: #D48F3D }	/* Main Secondary color (2) */
.color-secondary-2-1 { color: #FFCE95 }
.color-secondary-2-2 { color: #F1B165 }
.color-secondary-2-3 { color: #B4701F }
.color-secondary-2-4 { color: #8E5107 }

.color-complement-0 { color: #A93177 }	/* Main Complement color */
.color-complement-1 { color: #D77DB2 }
.color-complement-2 { color: #BF5091 }
.color-complement-3 { color: #8F185E }
.color-complement-4 { color: #710645 }



/* As RGBa codes */

.rgba-primary-0 { color: rgba(153,199, 57,1) }	/* Main Primary color */
.rgba-primary-1 { color: rgba(210,243,141,1) }
.rgba-primary-2 { color: rgba(183,225, 94,1) }
.rgba-primary-3 { color: rgba(123,168, 29,1) }
.rgba-primary-4 { color: rgba( 92,133,  7,1) }

.rgba-secondary-1-0 { color: rgba( 44,103,135,1) }	/* Main Secondary color (1) */
.rgba-secondary-1-1 { color: rgba(112,159,185,1) }
.rgba-secondary-1-2 { color: rgba( 69,123,153,1) }
.rgba-secondary-1-3 { color: rgba( 24, 83,114,1) }
.rgba-secondary-1-4 { color: rgba(  9, 62, 90,1) }

.rgba-secondary-2-0 { color: rgba(212,143, 61,1) }	/* Main Secondary color (2) */
.rgba-secondary-2-1 { color: rgba(255,206,149,1) }
.rgba-secondary-2-2 { color: rgba(241,177,101,1) }
.rgba-secondary-2-3 { color: rgba(180,112, 31,1) }
.rgba-secondary-2-4 { color: rgba(142, 81,  7,1) }

.rgba-complement-0 { color: rgba(169, 49,119,1) }	/* Main Complement color */
.rgba-complement-1 { color: rgba(215,125,178,1) }
.rgba-complement-2 { color: rgba(191, 80,145,1) }
.rgba-complement-3 { color: rgba(143, 24, 94,1) }
.rgba-complement-4 { color: rgba(113,  6, 69,1) }



/* Generated by Paletton.com © 2002-2014 */
/* http://paletton.com */


